node_modules
.next
data/*
!data/.gitkeep
!data/calibers.modern.json
tmp
playwright-report
test-results
.git
.env*
*.log
coverage
blob-report
zasoby-projektowe
.agents
.codex
AGENTS.md
CLAUDE.md
.DS_Store
.idea
.vscode
